@import '../style/variables.scss';

.user-details-wrapper {
    margin: 16px;
    padding: 24px;
    background-color: $secondary;
    border: solid 1px $border-color;
    border-radius: 15px;
    color: $font-color;
    display: flex;

    .user-details-section {
        &.user-metadata-wrapper {
            width: 500px;
        }

        &.team-selector-wrapper {
            flex: 1 1 auto;
            text-align: center;
        }
    }
}
