@import '../../style/variables.scss';

.achievement-widget {
    width: 100%;
    color: $font-color;
    font-size: 0.9rem;

    .split-placings-wrapper {
        padding: 16px;
        font-size: 1.2rem;

        .split-placing {
            display: flex;
        }
    }
}
