@import '../../style/variables.scss';

.prediction-widget-wrapper {
    padding: 24px;
    color: $font-color;
    font-size: 0.9rem;

    .predictions-loading {
        padding: 48px 0;
        display: flex;
        justify-content: center;
    }

    .block-title {
        font-size: 1.8rem;
    }
}
