@import '../../style/variables.scss';

.playoff-bracket-and-predictions {
    color: $font-color;

    .playoff-bracket {
        margin-top: 24px;
        display: flex;
        justify-content: space-around;

        .playoff-bracket-section {
            padding: 24px;
            border-radius: 25px 25px 0 0;
            transition: background-color .2s;
            margin-bottom: 2px;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:hover {
                background-color: darken($squad-primary, 2%);
                cursor: pointer;
                transition: background-color .2s;
            }

            &.active-section {
                background-color: $squad-primary;
                border: solid 2px $squad-primary;
                margin: -2px -2px 0 -2px;
                border-bottom: 0;
                z-index: 5;
            }

            .playoff-section-title {
                font-size: 1.2rem;
                padding-bottom: 8px;
                text-align: center;
            }
            
            .playoff-section-matches {
                .playoff-match {
                    background-color: $squad-primary;
                    width: 225px;
                    border: solid 1px $squad-primary;
                    margin-bottom: 28px;

                    &.condensed-match {
                        width: 75px;
                    }

                    .playoff-match-team {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
            
                        &:first-child {
                            border-bottom: solid 1px $squad-primary;
                        }
            
                        .left-side {
                            display: flex;
                            align-items: center;

                            &.losing-team {
                                opacity: 0.6;
                            }
            
                            .playoff-team-image-wrapper {
                                padding-right: 6px;
                
                                .playoff-team-image {
                                    margin: 4px 0 0 4px;
                                    height: 24px;
                                }
                            }
                
                            .playoff-team-name {
                                font-size: 1rem;
                            }
                        }
            
                        .right-side {
                            padding: 0 12px;
                            text-align: center;
                            border-left: solid 2px $squad-primary;
            
                            .team-score {
                                font-size: 0.9rem;

                                &.losing-team {
                                    color: darken($font-color, 25%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .playoff-section-wrapper {
       height: 0;
       transition: all 0.3s;
       overflow: hidden;
       margin-top: -2px;
       background-color: $squad-primary;
       z-index: 50;

        &.section-visible {
            max-height: 2000px;
            height: auto;
            transition: all 0.3s;
            border-top: solid 2px $squad-primary;
            border-bottom: solid 2px $squad-primary;
        }

        .active-playoff-section {
            text-align: center;
            padding: 24px 0;
            position: relative;
            height: 100%;
    
            .triangle-indicator {
                position: absolute;
                bottom: 100%;
                border: 36px solid transparent;
                border-bottom-color: $squad-primary;
            }
    
            .inner-triangle-indicator {
                position: absolute;
                bottom: 100%;
                border: 33px solid transparent;
                border-bottom-color: $squad-primary;
            }
    
            .close-section {
                position: absolute;
                right: 32px;
                top: 32px;
                cursor: pointer;
            }
        }
    }
}
