@import '../../style/variables.scss';

.favorite-team-news-wrapper {
    padding: 16px;
    color: $font-color;
    display: flex;
    align-items: center;

    .favorite-team-icon-wrapper {
        flex: 0 0 150px;
        padding-left: 24px;

        .favorite-team-icon {
            height: 150px;
            width: auto;
        }
                
        .favorite-team-subtitle {
            font-size: 1.6rem;
            text-align: center;

            &.team-record {
                margin-top: 8px;
            }
        }
    }

    .upcoming-matches-wrapper {
        width: 100%;
        text-align: center;

        .upcoming-matches-title {
            font-size: 1rem;
            opacity: 0.8;
            margin-bottom: 24px;
        }

        .upcoming-matches {
            display: flex;
            align-items: center;
            justify-content: center;
    
            .upcoming-match {
                text-align: center;
    
                .upcoming-opponent-image-wrapper {
                    margin: 0 18px;

                    .upcoming-opponent-image {
                        height: 80px;
                        width: auto;
                    }
                }
    
                .upcoming-opponent-subtitle {
                    font-size: 1.2rem;
                    text-align: center;
                }
            }
        }
    }
}
