@import '../../../style/variables.scss';

.split-achievement-widget {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 100%;

    .main-split-stats {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 12px;

        .main-split-stat {
            &.split-title {
                font-size: 1.8rem;
            }

            &.split-sub-title {
                font-size: 1.2rem;
                padding-top: 24px;

                &.split-placement {
                    font-size: 1.8rem;
                }
            }
        }
    }

    .secondary-split-stats-wrapper {
        display: flex;

        .secondary-split-stats {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            padding: 0 16px;
    
            .secondary-split-stat {
                width: 115px;
                height: 90px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
    
                &.bottom-stat {
                    padding-top: 12px;
                }
    
                .split-stat-value {
                    &.text-value {
                        font-size: 2.0rem;
                    }
    
                    .team-logo {
                        height: 65px;
                        width: auto;
                    }
                }
    
                .split-stat-label {
                    text-align: center;
                    opacity: 0.8;
                    font-size: 1rem;
                }
            }
        }
    }
}
