@import '../../style/variables.scss';

.top-navbar-wrapper {
    background-color: #5d001e;
    padding: 24px;
    display: flex;
    align-items: baseline;

    .navbar-app-title {
        font-size: 1.4rem;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

    .navbar-links {
        font-size: 1.2rem;
        padding-left: 72px;

        .navbar-link {
            color: $lightest-gray;
            text-decoration: none;
            padding: 24px;
            transition: all .2s;

            &:hover {
                transition: all .2s;
                background-color: lighten(#5d001e, 5%);
            }
        }
    }
}
