@import '../../../style/variables.scss';

.prediction-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .game-wrapper {
        display: flex;
        flex-direction: column;
        padding: 0 24px;

        .prediction-team {
            flex: 0 0 45px;
            border-radius: 12px;
            text-align: center;
            transition: all 0.2s;

            &.hoverable:hover {
                cursor: pointer;
                background-color: lighten(black, 5%);
                transition: all 0.2s;
            }

            .team-image {
                height: 75px;
                padding: 8px;
                margin-bottom: 4px;
                border-radius: 12px;
    
                &.not-predicted {
                    opacity: 0.3;
                    transition: all 0.2s;
                }
            }
    
            .team-name {
                color: $font-color;
                font-size: 0.9rem;
    
                &.not-predicted {
                    opacity: 0.3;
                    transition: all 0.2s;
                }
            }
        }

        .prediction-team-separator {
            padding: 24px;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
}
