@import '../style/variables.scss';

.loading-wrapper {
    display: flex;
    justify-content: center;
}

.homepage-wrapper {
    width: 100%;

    .homepage-header {
        text-align: center;
        color: $lightest-gray;
        font-size: 4rem;
        font-weight: bold;
        padding: 48px;
    }
}