@import '../style/variables.scss';

.loading-wrapper {
    display: flex;
    justify-content: center;
}

.homepage-wrapper {
    display: flex;
    margin: 12px;

    .widget-wrapper {
        width: 100%;
        margin: 12px;
        background-color: $secondary;
        border: solid 2px $border-color;
        border-radius: 15px;
    }
}