@import '../../../style/variables.scss';

.league-header {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    .league-icon {
        height: 100px;
        width: auto;
    }

    .league-name {
        font-size: 28px;
        padding-left: 48px;
    }
}

.tournament-options {
    margin-top: 24px;
    color: $font-color;
    display: flex;
    justify-content: center;
    font-size: 16px;

    .tournament-option {
        &:not(:first-child) {
            margin-left: 24px;
        }

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        &.active-tournament {
            text-decoration: underline;
            color: $squad-primary;
        }
    }
}

.tournament-pills {
    width: 70%;
    margin: 48px auto;
    display: flex;
    justify-content: space-around;

    .tournament-pill {
        animation: text-decoration 0.2s;
        padding: 4px 12px;
        font-size: 24px;
        text-align: center;

        &__league {
            font-size: 16px;
        }

        &:hover {
            cursor: pointer;
            text-decoration: underline;
            animation: text-decoration 0.2s;
        }

        &.active-tournament {
            color: $squad-primary;
            border-bottom: solid 2px white;
        }
    }
}

.prediction-breakdown {
    margin: 24px 0;

    .prediction-group-stage {
        .group-stage-section-label {
            width: 100%;
            text-align: center;
            margin: 48px 0 12px 0;
            font-size: 2.1rem;
        }
    }

    .playoff-bracket-wrapper {
        .playoff-bracket-title {
            width: 100%;
            text-align: center;
            margin: 48px 0 12px 0;
            font-size: 2.1rem;
        }
    }
}
