@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    margin: 0;

    .app-wrapper {
        width: 100%;
        min-height: 100vh;
        font-family: $font;
        background-color: #dfdfdfdf;
        display: flex;

        .content-wrapper {
            width: 100%;
            margin-left: $navbar-size;
        }
    }
}

@import '../components/components.scss';
@import '../predictions/predictions.scss';
