@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
    margin: 0;

    .app-wrapper {
        width: 100%;
        min-height: 100vh;
        font-family: $font;
        background-color: $onyx;
    }
}

@import '../components/components.scss';
@import '../login/login.scss';
@import '../predictions/predictions.scss';
