@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
    margin: 0;

    .app-wrapper {
        width: 100vw;
        height: 100vh;
        background-color: $darkest-blue;
        font-family: 'Nunito', sans-serif;
    }
}

@import '../components/components.scss';
@import '../predictions/predictions.scss';
