$font: 'Cabin', sans-serif;

$navbar-size: 100px;

$squad-dark-background: #121212;
$squad-overlay-one: lighten($squad-dark-background, 5%);
$squad-overlay-two: lighten($squad-dark-background, 8%);
$squad-overlay-three: lighten($squad-dark-background, 10%);
$squad-overlay-four: lighten($squad-dark-background, 12%);

$squad-primary: #23e8e1;
$squad-triad-gold: #e8b323;
$squad-triad-pink: #e82389;
$squad-complimentary-orange: #e88223;
$squad-complimentary-red: #e82326;
$squad-complimentary: #e85123;

$font-color: white;
