@import "../../style/variables.scss";

.welcome-card-wrapper {
    color: white;
    transition: all 0.2s;
    overflow-y: hidden;

    .welcome-card__nav-separator {
        border: solid 1px gray;
        width: 55%;
    }

    .welcome-card__navigation-wrapper {
        display: flex;
        justify-content: space-around;
        padding-bottom: 22px;

        .welcome-card__navigation-item {
            color: #c32148;
            padding: 8px 12px;
            width: 65px;
            border-radius: 10px;
            text-align: center;

            &.active-nav {
                background-color: #c32148;
                color: white;
            }

            &:hover {
                text-decoration: underline;
                transition: all 0.2s;
                cursor: pointer;
            }
        }
    }

    .welcome-card__content {
        width: 400px;
        padding: 28px;
        transition: all 0.5s;
        display: inline-block;
    }
}
