@import '../../style/variables.scss';

.page-title-wrapper {
    font-size: 2.5rem;
    padding: 24px 48px;
    background-color: #463e3c;
    border-bottom: solid 2px #848375;
    color: $font-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .page-title {
        height: 50px;
    }
}
