@import '../../style/variables.scss';

.page-title-wrapper {
    font-size: 2.5rem;
    padding: 24px 48px;
    background-color: $secondary;
    border-bottom: solid 1px #848375;
    color: $font-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
