@import '../../../style/variables.scss';

.team-selector-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 0;
    background-color: black;
    transition: all .3s;
    overflow: auto;
    color: $font-color;

    &.team-selector-visible {
        height: 100vh;
        transition: all .3s;
    }

    .team-selector {
        padding: 24px;
    
        .team-selector-header {
            text-align: center;
            font-size: 2.4rem;
            padding: 24px;
            border-bottom: black;

            .team-selector-close-icon {
                position: absolute;
                right: 48px;
                top: 48px;
                height: 24px;
                color: darken(white, 15%);

                &:hover {
                    color: darken(white, 20%);
                    cursor: pointer;
                }
            }
        }

        .team-selector-body {
            display: flex;

            .current-favorite-team-wrapper {
                align-self: flex-start;
                position: sticky;
                top: 0;
                flex: 0 0 200px;
                border-right: black;
                padding: 24px 24px 0 0;

                .current-favorite-team-image {
                    width: 100%;
                    height: auto;
                }

                .current-favorite-team-name {
                    text-align: center;
                    font-size: 1.6rem;
                }

                .save-team-wrapper {
                    margin-top: 32px;
                    text-align: center;
                }
            }

            .available-teams-wrapper {
                .region-wrapper {
                    padding: 24px 0;

                    &:not(:last-child) {
                        border-bottom: black;
                    }
        
                    .region-header {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 12px 0 40px 0;
        
                        .region-image {
                            height: 48px;
                            width: auto;
                        }
        
                        .region-title {
                            font-size: 2.5rem;
                            padding-left: 50px;
                            font-weight: bold;
                        }
                    }
        
                    .region-team-container {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
        
                        .team-wrapper {
                            padding: 24px;
                            width: 125px;
                            text-align: center;
                            transition: all .2s;

                            .selected-team {
                                opacity: 0.5;
                                transition: all 0.2s;
                            }
        
                            .team-icon {
                                height: 75px;
                                width: auto;
                                padding-bottom: 12px;
                            }
        
                            .team-label {
                                font-size: 1.2rem;
                                color: darken($font-color, 5%);
                            }
        
                            &:hover {
                                background-color: darken(black, 3%);
                                border-radius: 25px;
                                transition: all .2s;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}
