.welcome-wrapper {
    display: flex;

    .welcome__content-card {
        padding-top: 100px;

        .welcome__app-title {
            font-size: 4rem;
            font-weight: bold;
            color: #c32148;
            text-align: center;
            padding-bottom: 40px;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }
    }

    .welcome__designs {
        flex: 3 1 auto;
        text-align: center;

        .welcome-icon {
            padding-top: 300px;
            height: 100px;
            width: 100px;
        }
    }
}
