@import '../../style/variables.scss';

.prediction-match-wrapper {
    margin: 16px;
    padding: 12px 36px;
    background-color: $secondary;
    border: solid 1px $border-color;
    color: $font-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .prediction-block {
        width: 150px;
        font-weight: bold;
    }

    .prediction-content {
        display: flex;
        justify-content: center;
        align-items: center;

        .prediction-team { 
            flex: 0 0 150px;
            padding: 12px 0;
            border-radius: 12px;
            text-align: center;
            transition: all 0.2s;
    
            &.hoverable:hover {
                cursor: pointer;
                background-color: lighten($secondary, 12%);
                transition: all 0.2s;
            }
    
            .team-image {
                height: 48px;
                padding: 8px;
                margin-bottom: 4px;
                border-radius: 12px;
    
                &.not-predicted {
                    opacity: 0.3;
                    transition: all 0.2s;
                }
            }
    
            .team-name {
                color: $font-color;
                font-size: 0.9rem;
    
                &.not-predicted {
                    opacity: 0.3;
                    transition: all 0.2s;
                }
            }
        }
    }

    .prediction-team-separator {
        padding: 24px;
        font-size: 1.2rem;
        font-weight: bold;
    }
}
