@import '../../../../style/variables.scss';

.bo5-grid-wrapper {
    width: 100%;
    text-align: center;

    .bo5-table {
        font-size: 1.2rem;
        margin-left: auto;
        margin-right: auto;

        .bo5-table-row {
            height: 36px;

            .bo5-table-cell {
                width: 120px;
                text-align: center;

                .no-answer {
                    text-align: center;
                }

                &.header-cell {
                    text-align: center;

                    .header-team-name {
                        font-weight: bold;
                    }

                    .header-vs {
                        font-size: 0.8rem;
                    }
                }

                &.row-label {
                    width: 250px !important;
                    text-align: right;
                    padding-right: 48px;
                }

                &.row-header {
                    width: 200px;
                    font-size: 1rem;
                    text-align: right;
                    padding-right: 4px;
                }

                &.image-cell {
                    padding: 8px 12px;

                    .prediction-logo {
                        height: 32px;
                        width: auto;

                        &.incorrect-prediction {
                            opacity: 0.2;
                        }
                    }

                    .bo5-image-score {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &.incorrect-prediction {
                            opacity: 0.1;
                        }

                        .series-score {
                            padding-left: 8px;

                            &.incorrect-prediction {
                                opacity: 0.1;
                            }
                        }
                    }
                }

                &.totals-cell {
                    padding-left: 48px;
                }

                &.no-answer {
                    color: $font-color-darker;
                }
            }
        }
    }
}
