@import '../../../style/variables.scss';

.nav-popout-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 55px;
    left: $navbar-size;
    width: 0;
    background-color: white;
    color: lighten(black, 15%);
    font-size: 1rem;
    border-radius: 3px;
    overflow: hidden;
    transition: 0.2 all;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

    &.popped-out {
        width: 250px;
        transition: 0.2 all;
    }

    .nav-popout {
        padding: 12px;

        .nav-username {
            font-size: 1.3rem;
        }
    
        .nav-popout-separator {
            width: 100%;
        }
    
        .nav-item-wrapper {
            .nav-item {
                padding: 8px;
                transition: 0.15s all;
        
                &:hover {
                    background-color: darken(white, 10%);
                    cursor: pointer;
                    transition: 0.15s all;
                }
            }
        }
    }
}
