.bo1-grid-wrapper {
    width: 100%;

    .bo1-table {
        .bo1-table-row {
            height: 48px;

            .bo1-table-cell {
                width: 65px;
                text-align: center;

                &.header-cell {
                    text-align: center;

                    .header-team-name {
                        font-weight: bold;
                    }

                    .header-vs {
                        font-size: 0.8rem;
                    }
                }

                &.row-header {
                    width: 100px;
                    font-size: 1rem;
                    text-align: right;
                    padding-right: 4px;
                }

                &.image-cell {
                    padding: 8px 0;

                    .prediction-logo {
                        height: 32px;
                        width: auto;

                        &.incorrect-prediction {
                            opacity: 0.2;
                        }
                    }
                }
            }
        }
    }
}
