@import '../../style/variables.scss';

.navbar-sticky {
    position: fixed;
    height: 100%;

    .navbar-wrapper {
        width: $navbar-size;
        height: 100%;
        background-color: #a92f41;
        display: flex;
        flex-direction: column;
        align-items: center;

        .navbar-app-title {
            font-size: 1.8rem;
            color: white;
            text-decoration: none;
            font-weight: bold;
            text-align: center;
            margin: 24px 0;
            padding: 12px 0;
        }

        .navbar-links {
            width: 100%;

            .navbar-link {
                color: $lightest-gray;
                text-decoration: none;
                transition: all .2s;
                margin: 12px 0;
                padding: 20px 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 0.8rem;
                opacity: 0.7;

                &:hover {
                    cursor: pointer;
                    transition: all .2s;
                    background-color: darken(#a92f41, 5%);
                }

                &.active {
                    opacity: 1;
                }
        
                .nav-icon {
                    padding-bottom: 4px;
                    font-size: 1.5rem;
                }
            }
        }

        .navbar-user {
            position: absolute;
            width: 100%;
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            bottom: 40px;
            color: white;
            font-size: 0.8rem;

            &:hover {
                cursor: pointer;
                transition: all .2s;
                background-color: darken(#a92f41, 3%);
            }

            .nav-icon {
                padding-bottom: 6px;
                font-size: 1.5rem;
            }
        }
    }
}
