@import '../../style/variables.scss';

.navbar-sticky {
    position: fixed;
    height: 100%;

    .navbar-wrapper {
        width: $navbar-size;
        height: 100%;
        background-color: $squad-overlay-two;
        display: flex;
        flex-direction: column;
        align-items: center;

        .navbar-app-title {
            font-size: 2.4rem;
            color: $squad-primary;
            text-decoration: none;
            font-weight: bold;
            text-align: center;
            margin: 16px 0;

            .squad-logo {
                height: 85px;
                width: auto;
                padding-bottom: 12px;
            }
        }

        .navbar-links {
            width: 100%;

            .navbar-link {
                color: darken($font-color, 35%);
                text-decoration: none;
                transition: all .2s;
                margin: 12px 0;
                padding: 20px 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 0.8rem;

                &:hover {
                    text-decoration: underline;
                }

                &.active-nav {
                    color: $font-color;
                }
        
                .nav-icon {
                    padding-bottom: 4px;
                    font-size: 1.5rem;
                }
            }
        }

        .navbar-user {
            position: absolute;
            width: 100%;
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            bottom: 40px;
            color: white;
            font-size: 0.8rem;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }

            .nav-icon {
                padding-bottom: 6px;
                font-size: 1.5rem;
            }
        }
    }
}
