@import '../style/variables.scss';

.prediction-wrapper {
    height: 100%;

    .predictions-header {
        display: flex;
        align-items: center;
        color: $lightest-gray;

        .prediction-title {
            font-size: 4rem;
            font-weight: bold;
            padding: 24px;
        }
    }

    .prediction-section-title {
        font-size: 2rem;
        padding: 24px 24px 75px 24px;
        text-align: center;
    }

    .prediction-matches-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 48px;

        .matches-day-header {
            color: $lightest-gray;
            font-size: 2rem;
            padding-top: 48px;
        }
    }
}

@import './prediction-match/prediction-match.scss';
@import './prediction-filters/prediction-filters.scss';
