@import '../style/variables.scss';

.loading-indicator-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 250px;
}

.section-prediction-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .series-match-container {
        margin: 48px;
        width: 75%;
        
        .series-match-label {
            border-bottom: solid 1px $border-color;
            font-size: 1.5rem;
            margin-bottom: 16px;
    
            &:not(:first-child) {
                padding-top: 48px;
            }
        }
    }
}
